a, .menu-logo {
  color: white;
  vertical-align: middle;
}

.main-logo {
  font-size: 23px;
}

i {
  font-size: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.flex-spacer {
  flex-grow: 1;
}

.navbar-header {
  top: 0;
  height: 7vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #3f51b5;
}
